body{
    background:linear-gradient(rgb(205, 88, 88),rgb(249, 215, 215));
}

h1{
    font-family:serif;
    font-weight: 400;
}

.one{
    background-image: url(stitch.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    height:400px;
    width:100%;
    }